{% extends 'base.html' %}
{% load static %}

{% block title %}About{% endblock title %}

{% block content %}

    <h1>About</h1>
    <h3>Hi, I am Mario Aguilar!</h3>
    <p>I am a software engineer with a passion for learning new technologies and developing new projects.</p>
    <p>I am currently working as a software engineer at <a href="https://www.linkedin.com/in/mario-aguilar-92777b171/">LinkedIn</a>.</p>
    <p>You can find me on <a href="https://github.com/marioaguilarreal">GitHub</a>.</p>
    <img src="{% static 'img/img.jpg' %}" alt="" width="150px">

{% endblock content %}
